[mysqld]
user            = mysql
bind-address = 0.0.0.0
server-id = 1

# Включение GTID
gtid-mode = ON
enforce-gtid-consistency = ON

# Настройки для журнала бинарных файлов и репликации
log-bin = mysql-bin
log-slave-updates = ON
binlog_format = ROW  # Рекомендуется для GTID репликации

# Аутентификация
default_authentication_plugin = caching_sha2_password

# Параметры безопасности и оптимизации
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
log_error = /var/lib/mysql/error.log
binlog_expire_logs_seconds = 2592000
max_binlog_size = 100M

# Настройки InnoDB для повышения производительности
innodb_buffer_pool_size = 1G
innodb_redo_log_capacity = 512M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 1