network:
  version: 2
  renderer: networkd
  ethernets:
    ens18: 
      dhcp4 : yes
    ens17: 
      dhcp4 : yes

    bond0:
      dhcp4: no
  bonds:
    bond0:
      interfaces: [ens18, ens17]  
      parameters:
        mode: 802.3ad   
        transmit-hash-policy: layer3+4
        mii-monitor-interval: 100
  bridges:
    vmbr0:
      interfaces: [bond0]
      parameters:
        stp: false
        forward-delay: 0
        vlan-filtering: true
        vlan-ids: [5-12]
      dhcp4: no
      dhcp6: no

    {% for bond in bond_vlan_set %}
    vmbr0.{{ bond.vlan_id }}:
      interfaces: [bond0]
      addresses: [{{ bond.vlan_ip }}/{{bond.mask}}]
      gateway4: {{ bond.vlan_gate }}
      dhcp4: no
      dhcp6: no
    {% endfor %}
